@import "@fontsource-variable/google-sans-flex/opsz.css";
@import "m3-svelte/etc/styles.css";
@import "m3-svelte/etc/recommended-styles.css";

@function --m3-density(--size) {
  result: var(--size);
}
:root {
  color-scheme: light dark;
}
@layer tokens {
  :root {
    --m3c-surface: light-dark(#fdf3ff, #170529);
    --m3c-surface-container-lowest: light-dark(#fff, #000);
    --m3c-surface-container-low: light-dark(#f9ecff, #1d0832);
    --m3c-surface-container: light-dark(#f3e2ff, #240e3b);
    --m3c-surface-container-high: light-dark(#efdbff, #2b1344);
    --m3c-surface-container-highest: light-dark(#ecd4ff, #33184d);
    --m3c-on-surface: light-dark(#39264c, #f2dfff);
    --m3c-on-surface-variant: light-dark(#67537c, #baa2cf);
    --m3c-outline: light-dark(#846e99, #826d97);
    --m3c-outline-variant: light-dark(#bca4d2, #534067);
    --m3c-inverse-surface: light-dark(#170529, #fff7ff);
    --m3c-inverse-on-surface: light-dark(#ab94c1, #614d75);
    --m3c-primary: light-dark(#6b34d8, #ba9eff);
    --m3c-on-primary: light-dark(#f8f0ff, #39008c);
    --m3c-primary-container: #ae8dff;
    --m3c-on-primary-container: #2b006e;
    --m3c-inverse-primary: light-dark(#a078ff, #6e39db);
    --m3c-secondary: light-dark(#7443a8, #c08cf7);
    --m3c-on-secondary: light-dark(#fbefff, #390068);
    --m3c-secondary-container: light-dark(#e4c6ff, #5e2c91);
    --m3c-on-secondary-container: light-dark(#5f2d92, #e3c4ff);
    --m3c-tertiary: light-dark(#9d365b, #ff97b5);
    --m3c-on-tertiary: light-dark(#ffeff1, #6a0934);
    --m3c-tertiary-container: light-dark(#ff8eb0, #fd81a8);
    --m3c-on-tertiary-container: light-dark(#640430, #59002a);
    --m3c-error: light-dark(#b41340, #ff6e84);
    --m3c-on-error: light-dark(#ffefef, #490013);
    --m3c-error-container: light-dark(#f74b6d, #a70138);
    --m3c-on-error-container: light-dark(#510017, #ffb2b9);
    --m3c-shadow: #000;
    --m3c-scrim: #000;
    --m3c-on-on-primary: light-dark(#6a34d7, #ba9eff);
    --m3c-primary-container-subtle: light-dark(#ddcdff, #360086);
    --m3c-on-primary-container-subtle: light-dark(#5816c5, #b79bff);
    --m3c-secondary-container-subtle: light-dark(#e6caff, #420475);
    --m3c-on-secondary-container-subtle: light-dark(#612f94, #c894ff);
    --m3c-tertiary-container-subtle: light-dark(#ffc5d3, #5d002c);
    --m3c-on-tertiary-container-subtle: light-dark(#852349, #ff84ab);
    --m3c-error-container-subtle: light-dark(#ffc6cb, #5f001c);
    --m3c-on-error-container-subtle: light-dark(#960031, #ff8796);
  }
}

:root {
  @apply --m3-body-large;
  background-color: var(--m3c-surface);
  color: var(--m3c-on-surface);
}

body {
  display: flex;
  height: 100dvh;
  margin: 0;
  box-sizing: border-box;
}
@media (width < 52.5rem) {
  body {
    flex-direction: column-reverse;
    --m3v-bottom-offset: 5rem;
  }
}

